<div class="col-md-12">
  <div class="row">
    <div class="map col-md-1 blank-space"></div>
    <div class="map col-md-10">
      <!-- <img src="../../assets/image/map.jpeg" alt="Mapa Criciúma" usemap="#mapaCriciuma" class="map"> -->
      <map name="mapaCriciuma"></map>
    </div>
  </div>
</div>
<div class="container">
  <div class="col">
    <div class="row">
      <div class="col-md-4">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let district of districts">lalala</li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let district of districts">lalala</li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let district of districts">lalala</li>
        </ul>
      </div>
    </div>
  </div>
</div>