<nav class="navbar">
  <div class="col-md-12">
  </div>
</nav>

<div class="container text-center" *ngIf="graph">
    <div class="col-md-12 blank-space-2"></div>
  <h3>O melhor caminho pra você é seguindo pelos bairros:</h3><br>
  <h4>{{route.bestRoute}}</h4><br><br>
  <h4>Com distância de: {{route.quilometers}}km</h4>
</div>

<div class="container text-center" *ngIf="!graph">
  <div class="col-md-12 blank-space-2"></div>
    <h2>Escolha o bairro de início</h2>
  <br><br>
  <div class="row">
    <div class="col-md-3" style="margin-bottom: 5px;">
      <button class="btn btn-outline-secondary btn-block" (click)="getDistance(district)" *ngFor="let district of firstDistricts"><b>{{district.index+1}}:</b> {{district.name}}</button>
    </div>
    <div class="col-md-3" style="margin-bottom: 5px;">
      <button class="btn btn-outline-secondary btn-block" (click)="getDistance(district)" *ngFor="let district of secondsDistricts"><b>{{district.index+1}}:</b> {{district.name}}</button>
    </div>
    <div class="col-md-3" style="margin-bottom: 5px;">
      <button class="btn btn-outline-secondary btn-block" (click)="getDistance(district)" *ngFor="let district of thirdDistricts"><b>{{district.index+1}}:</b> {{district.name}}</button>
    </div>
    <div class="col-md-3" style="margin-bottom: 5px;">
      <button class="btn btn-outline-secondary btn-block" (click)="getDistance(district)" *ngFor="let district of fourthDistricts"><b>{{district.index+1}}:</b> {{district.name}}</button>
    </div>
  </div>
</div>