<nav class="navbar">
  <div class="col-md-12">

  </div>
</nav>

<div class="container">
  <div class="col-md-12 blank-space-2"></div>
  <div class="col-md-12 row">
    <div class="col-md-2 blank-space"></div>
    <div class="col-md-8">
      <div class="form-group">
        <label for="begin">Digite o local de início</label>
        <input type="text" name="begin" class="form-control" ([ngModel])="begin">
      </div>
    </div>
  </div>
</div>
<app-map></app-map>
<div class="container">
  <div class="col-md-12 blank-space-2"></div>
  <div class="col-md-12">
    <div class="col-md-2 blank-space"></div>
    <div class="col-md-8">
      <h4>O melhor caminho para você é: {{route.bestRoute}}!</h4>
      <p>Passando por: <span *ngFor="let district of districts">{{route.districts}}</span><small>{{route.quilometers}}km</small></p>
    </div>
  </div>
</div>